body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.neb1{
	float: left;
	max-width: 30%;
	height: auto;
	margin-right: 10px;
}

.neb2{
	float: right;
	max-width: 30%;
	height: auto;
	margin-left: 10px;
}
